		<section class="page-section mt-5 py-4" id="about">
			<div class="container">
				<h2 class="page-section-heading text-center text-uppercase text-secondary">{{ .Title }}</h2>
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon"><em class="fas fa-user"></em></div>
					<div class="divider-custom-line"></div>
				</div>
				<div class="row">
					<div class="col-lg-4 ms-auto"><p class="lead">{{ .Params.about_left }}</p></div>
					<div class="col-lg-4 me-auto"><p class="lead">{{ .Params.about_right }}</p></div>
				</div>
				<div class="text-center mt-4">
				{{ range .Site.Params.Social -}}
					{{ if (in (.icon | string) "linkedin") -}}
					<a class="btn btn-xl btn-outline-dark mx-1" href="{{.url}}" aria-label="{{.label}}" target="_blank" rel="noopener noreferrer">
						<em class="{{.icon_pack}} {{.icon}} me-2"></em>{{.label}}
					</a>
					{{ end -}}
				{{ end -}}
				</div>
			</div>
		</section>
