{{- if .Site.Params.sbform.token }}
		<section class="page-section my-5 py-5" id="contact">
			<div class="container">
				<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon"><em class="fas fa-envelope"></em></div>
					<div class="divider-custom-line"></div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-8 col-xl-7">
						<form id="contactForm" data-sb-form-api-token="{{.Site.Params.sbform.token}}">
							<!-- Name input -->
							<div class="form-floating mb-3">
								<input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
								<label for="name">Full name</label>
								<div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
							</div>
							<!-- Email address input -->
							<div class="form-floating mb-3">
								<input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
								<label for="email">Email address</label>
								<div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
								<div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
							</div>
							<!-- Phone number input -->
							<div class="form-floating mb-3">
								<input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
								<label for="phone">Phone number</label>
								<div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
							</div>
							<!-- Message input -->
							<div class="form-floating mb-3">
								<textarea class="form-control" id="message" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
								<label for="message">Message</label>
								<div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
							</div>
							<!-- Submit success message -->
							<div class="d-none" id="submitSuccessMessage">
								<div class="text-center mb-3">
									<div class="fw-bolder text-success">Form submission successful!</div>
								</div>
							</div>
							<!-- Submit error message -->
							<div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
							<!-- Submit Button -->
							<button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Send</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<script defer src="https://cdn.startbootstrap.com/sb-forms-0.4.1.js" type="text/javascript"></script>
{{- end -}}
