{{ if .IsHome }}
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="mb-5" src="/profile.webp" width="{{div .Site.Params.ProfileWidth 2}}" height="{{div .Site.Params.ProfileHeight 2}}" alt="{{ .Site.Title }} Avatar" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">{{ .Site.Title }}</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><em class="fas fa-star"></em></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <h2 class="masthead-subheading font-weight-light mb-0">{{ .Site.Params.TagLine }}</h2>
            </div>
        </header>
{{ else }}
        <header class="masthead2 text-white text-center"></header>
{{ end }}
