{{- $element :=  first .Site.Params.HomePosts (where .Site.RegularPages.ByDate.Reverse "Section" "posts") -}}
{{- if $element }}
		<section class="page-section portfolio pb-3" id="posts">
			<div class="container">
				<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Recent Posts</h2>
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon text-secondary"><em class="fas fa-file-text"></em></div>
					<div class="divider-custom-line"></div>
				</div>
				<div class="row justify-content-center">
					{{- range $index, $element }}
					<div class="col-md-6 col-lg-4 mb-4">
						<div class="portfolio-item mx-auto h-100">
							<a href="{{.Permalink}}">
								<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
									<div class="portfolio-item-caption-content text-center text-white"><em class="fas fa-eye fa-3x"></em></div>
								</div>
								<img class="img-fluid" src="{{.Permalink}}small-{{.Page.Params.Hero}}" width="{{.Site.Params.HeroWidthSmall}}" height="{{.Site.Params.HeroHeightSmall}}" alt="{{.Page.Params.Title}}" loading="lazy"/>
							</a>
						</div>
					</div>
					{{- end }}
				</div>
			</div>
		</section>
{{- end -}}
