{{ $element :=  first .Site.Params.HomePosts (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}

{{ if $element }}
<section class="page-section portfolio pb-5" id="posts">
	<div class="container">
		<!-- Portfolio Section Heading-->
		<h2 class="page-section-heading text-center text-uppercase text-secondary">Recent Posts</h2>
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon"><em class="fas fa-star"></em></div>
			<div class="divider-custom-line"></div>
		</div>
		<div class="row justify-content-left">
			<!-- Portfolio Item 1-->
			{{ range $index, $element }}
			<div class="col-md-4">
				<div class="card mb-4">
					{{ if .Page.Params.Hero }}
					<a href="{{.Permalink}}"><img class="card-img-top" src="{{.Permalink}}{{.Page.Params.Hero}}" alt="{{.Page.Params.Title}}"></a>
					{{ else }}
					<h5 class="card-title"><a href="{{.Permalink}}">{{.Page.Params.Title}}</a></h5>
					{{ end }}
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{ end }}
