{{ $element :=  first .Site.Params.HomeProjects (where .Site.RegularPages.ByDate.Reverse "Section" "projects") }}

{{ if $element }}
	{{ $counter := 0 }}
	{{ range $element }}
	{{ $counter = add $counter 1 }}
		<div class="portfolio-modal modal fade" id="modal{{$counter}}" tabindex="-1" aria-labelledby="modal{{$counter}}" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
						<div class="modal-body text-center pb-5">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-8">
									<!-- Portfolio Modal - Title-->
									<h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{.Title}}</h2>
									<!-- Icon Divider-->
									<div class="divider-custom">
										<div class="divider-custom-line"></div>
										<div class="divider-custom-icon"><em class="fas fa-star"></em></div>
										<div class="divider-custom-line"></div>
									</div>
									<!-- Portfolio Modal - Image-->
									<img class="img-fluid rounded mb-5" src="{{.RelPermalink}}{{.Page.Params.Hero}}" alt="{{.Title}}" />
									<!-- Portfolio Modal - Text-->
									<p class="mb-4">{{.Summary}}</p>
										<a href="{{.Permalink}}" class="btn btn-primary btn-lg col-12">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{ end }}
{{ end }}
