<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}"/>{{- end }}
		{{ with .Site.Params.author }}<meta name="author" content="{{ . }}"/>{{- end }}
		<meta name="keywords" content="{{ if .Params.Tags }}{{ delimit .Params.Tags ", "}}{{else}}{{ .Site.Params.tags }}{{ end }}"/>
{{ template "_internal/twitter_cards.html" . -}}
		<!-- Favicon-->
		<meta name="msapplication-TileColor" content="#00aba9"/>
		<meta name="theme-color" content="#ffffff"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
		<link rel="manifest" href="/site.webmanifest"/>
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"/>
		<!-- Async loading of CSS
			 https://www.holisticseo.digital/pagespeed/async-css/
			 https://www.filamentgroup.com/lab/load-css-simpler/
			 https://stackoverflow.com/questions/32759272/how-to-load-css-asynchronously -->
		<link rel="preload" href="/css/style.css" type="text/css" as="style" onload="this.rel='stylesheet'"/>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="print" onload="this.media='all'"/>
		<link rel="preload" href="/css/fonts.css" type="text/css" as="style" onload="this.rel='stylesheet'"/>
		<link rel="stylesheet" href="/css/fonts.css" type="text/css" media="print" onload="this.media='all'"/>
		<link rel="preload" href="/css/syntax.css" type="text/css" as="style" onload="this.rel='stylesheet'"/>
		<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="print" onload="this.media='all'"/>
		<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css" as="font" onload="this.rel='stylesheet'" crossorigin="anonymous" referrerpolicy="no-referrer" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css" media="print" onload="this.media='all'" crossorigin="anonymous" referrerpolicy="no-referrer" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="/>
		<noscript>
			<link rel="stylesheet" href="/css/style.css" type="text/css"/>
			<link rel="stylesheet" href="/css/fonts.css" type="text/css"/>
			<link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="/>
		</noscript>
		{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
		{{- end }}
		<link rel="canonical" href="{{ .Permalink }}"/>
		<title>{{ .Title }}</title>
	</head>
{{ partial "header" . }}
{{ block "main" . }}{{ end }}
{{ partial "footer" . }}
