{{ define "main" }}
		{{- $action := "read" -}}
		{{- $icon := "fa-file-text" -}}
		{{- if eq .Section "projects" -}}
			{{- $action = "View" -}}
			{{- $icon = "fa-code" -}}
		{{- else if eq .Section "tags" -}}
			{{- $action = "View" -}}
			{{- $icon = "fa-tags" -}}
		{{- else if eq .Section "categories" -}}
			{{- $action = "View" -}}
			{{- $icon = "fa-list" -}}
		{{- end}}
		<section class="page-section portfolio" id="portfolio">
			<div class="container">
				<h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">{{.Title}}</h2>
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon"><em class="fas {{$icon}}"></em></div>
					<div class="divider-custom-line"></div>
				</div>
				<div class="row justify-content-left">
					{{- range .Paginator.Pages }}
					<div class="col-md-4">
						<div class="card mb-4">
							<a href="{{.Permalink}}"><img class="img-fluid rounded-top" src="{{.Permalink}}small-{{.Page.Params.Hero}}" width="{{.Site.Params.HeroWidthSmall}}" height="{{.Site.Params.HeroHeightSmall}}" alt="{{ .Summary }}" loading="lazy" /></a>
							<div class="card-body">
								<h5 class="card-title text-center text-uppercase">{{.Title}}</h5>
								<small class="card-text text-center">{{.Summary}}</small>
							</div>
							<div class="card-footer">
								{{- if eq .Section "posts" -}}
								<div class="d-flex justify-content-between align-items-center">
									<small class="text-muted">{{ .Date.Format "January 2, 2006" }}</small>
									<div class="btn-group">
										<a href="{{ .Permalink }}" class="btn btn-lg btn-primary">{{ .ReadingTime }} minute {{ $action }}</a>
									</div>
								</div>
								{{- else -}}
								<div class="d-flex justify-content-between align-items-center">
									<small class="text-muted"></small>
									<div class="btn-group">
										<a href="{{ .Permalink }}" class="btn btn-lg btn-primary">{{ $action }}</a>
									</div>
								</div>
								{{- end }}
							</div>
						</div>
					</div>
					{{- end }}
					<div class="col-12 p-3">
						<div class="d-flex justify-content-center">
							{{- partial "pagination.html" . }}
						</div>
					</div>
				</div>
			</div>
		</section>
		{{- end -}}
