{{- define "main" -}}
		<div class="container pb-1">
			<div class="row">
				<section class="page-section portfolio mt-4">
					<!-- Portfolio Section Heading-->
					<h2 class="page-section-heading text-center text-uppercase text-secondary mt-3">{{.Title}}</h2>
					<!-- Icon Divider-->
					<div class="divider-custom m-1">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon text-secondary"><em class="fas fa-satellite-dish"></em></div>
						<div class="divider-custom-line"></div>
					</div>
					<div class="d-flex justify-content-center">
						<!-- Twitch -->
						{{- if in (.Site.BaseURL | string) "localhost" -}}
							<iframe class="rounded mb-4" src="https://player.twitch.tv/?channel={{ .Page.Params.channel }}&parent=localhost" title="{{ .Site.Title }} Live" width="960" height="540" allowfullscreen="true"></iframe>
						{{- else -}}
							<iframe class="rounded mb-4" src="https://player.twitch.tv/?channel={{ .Page.Params.channel }}&parent={{ .Page.Params.parent }}" title="{{ .Site.Title }} Live" width="960" height="540" allowfullscreen="true"></iframe>
						{{- end -}}
					</div>

					{{ if isset .Params "tags" -}}
					<div class="row mb-2">
						<div class="col text-center text-nowrap">
						{{ range $index, $name := sort .Params.tags -}}
							<a class="h4" href={{ (printf "/tags/%s/" $name) | urlize }} title="{{$name | markdownify }}"><span class="badge bg-primary p-2 m-1 ">{{$name | markdownify}}</span></a>
						{{end}}
						</div>
					</div>
					{{ end }}
					<div class="row justify-content-left">
						{{ .Content }}
						<div class="text-center m-4">
							{{ range .Site.Params.Content -}}
							<a class="btn btn-xl btn-outline-dark mx-1" href="{{.url}}" aria-label="{{.label}}" target="_blank" rel="noopener noreferrer">
								<em class="{{.icon_pack}} {{.icon}} me-2"></em>{{.label}}
							</a>
							{{ end -}}
						</div>
					</div>
				</section>
			</div>
		</div>
{{- end -}}
