{{- define "main" -}}
		<div class="container pb-1">
			<div class="row">
				<section class="page-section portfolio mt-4">
					<!-- Portfolio Section Heading-->
					<h2 class="page-section-heading text-center text-uppercase text-secondary mt-3">{{.Title}}</h2>
					<!-- Icon Divider-->
					<div class="divider-custom m-1">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon text-secondary"><em class="fas fa-satellite-dish"></em></div>
						<div class="divider-custom-line"></div>
					</div>
					<div class="d-flex justify-content-center">
						<iframe class="rounded mb-4" src="https://livepush.io/embed/emFuH1zzXs0jHL8_" width="960" height="540" allowFullScreen="1" frameBorder="0"></iframe>
					</div>

					{{ if isset .Params "tags" -}}
					<div class="row mb-2">
						<div class="col text-center text-nowrap">
						{{ range $index, $name := sort .Params.tags -}}
							<a class="h4" href={{ (printf "/tags/%s/" $name) | urlize }} title="{{$name | markdownify }}"><span class="badge bg-primary p-2 m-1 ">{{$name | markdownify}}</span></a>
						{{end}}
						</div>
					</div>
					{{ end }}
					<div class="row justify-content-left">
						{{ .Content -}}
					</div>
				</section>
			</div>
		</div>
{{- end -}}
