{{ define "main" }}
		<section class="page-section portfolio" id="results">
			<div class="container">
				<h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">{{.Title}}</h2>
				<div class="divider-custom m-1">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon text-secondary"><em class="fas fa-magnifying-glass"></em></div>
					<div class="divider-custom-line"></div>
				</div>
				<div class="row justify-content-left">
					<div id="search-results" class="col-12 mb-4">
                        <div class="search-loading">Loading...</div>
                        <script id="search-result-template" type="text/x-js-template">
                            <div id="summary-${key}">
                                <h2><a href="${link}">${title}</a></h2>
                                <p class="card-text fs-5 lh-sm">${snippet}</p>
                                <p>${ isset taxonomies }<span class="fs-5 text-muted">Taxonomies:</span> ${taxonomies}${ end }</p>
                                <br />
                            </div>
                        </script>
					</div>
				</div>
			</div>
		</section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js" integrity="sha512-Nqw1tH3mpavka9cQCc5zWWEZNfIPdOYyQFjlV1NvflEtQ0/XI6ZQ+H/D3YgJdqSUJlMLAPRj/oXlaHCFbFCjoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{- end -}}
