{{- define "main" -}}
		{{- $icon := "fa-file-text" -}}
		{{- if eq .Section "projects" -}}
			{{- $icon = "fa-code" -}}
		{{- end }}
		<div class="container pb-1">
			<div class="row">
				<section class="page-section portfolio {{ if .Page.Params.sidebar }} col-12 col-lg-10 {{ end }} ">
					{{- if (ne .Page.Params.Hero "") -}}
					<img class="card-img-top img-fluid rounded mt-4" src="{{.Permalink}}{{.Page.Params.Hero}}" width="{{.Site.Params.HeroWidth}}" height="{{.Site.Params.HeroHeight}}" alt="{{.Summary}}" loading="lazy"/>
					{{- end -}}
					<!-- Portfolio Section Heading-->
					<h2 class="page-section-heading text-center text-uppercase text-secondary mt-3">{{.Title}}</h2>
					<!-- Icon Divider-->
					<div class="divider-custom m-1">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon text-secondary"><em class="fas {{$icon}}"></em></div>
						<div class="divider-custom-line"></div>
					</div>
					{{ if isset .Params "tags" -}}
					<div class="row mb-2">
						<div class="col text-center text-nowrap">
						{{ range $index, $name := sort .Params.tags -}}
							<a class="h4" href={{ (printf "/tags/%s/" $name) | urlize }} title="{{$name | markdownify }}"><span class="badge bg-primary p-2 m-1 ">{{$name | markdownify}}</span></a>
						{{end}}
						</div>
					</div>
					{{ end }}
					<div class="row justify-content-left">
						<!-- Old content warning and last update notification -->
						{{- if eq .Section "posts" -}}
							{{- $daysOld := div (sub now.Unix .Date.Unix) 86400 -}}
							{{- $monthsOld := div $daysOld 12 -}}
							{{- $yearsOld := div $daysOld 365 -}}

							{{- if ge $yearsOld 3 -}}
							<div class="col-12">
								<div class="alert alert-warning" role="alert">
									<h4 class="alert-heading">Old post detected! <em class="fa-solid fa-book-skull"></em></h4>
									<p>This post is roughly {{ $yearsOld }} years old; originally published on {{.Date.Format "January 2, 2006"}}! The information presented here may be out of date and inaccurate.</p>
									<hr />
									<em class="mb-0">Please read this page but do keep its age in mind.</em>
								</div>
							</div>
							{{- else if ne .Lastmod .Date -}}
								<div class="col-12">
									<div class="alert alert-info" role="alert">
										<h4 class="alert-heading">Update detected! <em class="fa-solid fa-spray-can-sparkles"></em></h4>
										{{- if ge $yearsOld 2 -}}
										<p>This post is roughly {{ $yearsOld }} years old. Originally published on {{.Date.Format "January 2, 2006"}} and last updated on {{.Lastmod.Format "January 2, 2006"}}.</p>
										{{- else if gt $monthsOld 12 -}}
										<p>This post is roughly {{ $monthsOld }} months old. Originally published on {{.Date.Format "January 2, 2006"}} and last updated on {{.Lastmod.Format "January 2, 2006"}}.</p>
										{{- else -}}
										<p>This post is {{ $daysOld }} days old. Originally published on {{.Date.Format "January 2, 2006"}} and last updated on {{.Lastmod.Format "January 2, 2006"}}.</p>
										{{- end -}}
									</div>
								</div>
							{{- end -}}
						{{- end }}

						{{ .Content -}}
						{{ partial "single-pagination.html" . }}
						{{- if and (site.Params.features.comment.enable) (eq .Section "posts") -}}
							{{ partial "comments.html" site.Params.features.comment }}
						{{- end -}}
					</div>
				</section>
				{{- if .Page.Params.sidebar -}}
					{{ partial "sidebar.html" . }}
				{{- end }}
			</div>
		</div>
{{- end -}}
